In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import plotly.express as px

In [2]:
yvrpassengers = pd.read_csv('Passengers from January 1992 to October 2021.csv')

In [3]:
yvrpassengers

,Year,Type,January,February,March,April,May,June,July,August,September,October,November,December,Annual
0,1992,Domestic,"398,321","381,597","456,665","486,816","520,165","547,384","581,156","623,834","511,111","475,435","390,924","456,135","5,829,543"
1,1992,Transborder,"170,320","178,530","195,681","155,069","171,307","192,779","216,777","242,720","189,174","160,999","153,904","179,787","2,207,047"
2,1992,International,"138,344","119,117","135,779","132,388","156,695","177,454","214,025","235,437","179,583","146,157","118,539","145,177","1,898,695"
3,1992,Total,"706,985","679,244","788,125","774,273","848,167","917,617","1,011,958","1,101,991","879,868","782,591","663,367","781,099","9,935,285"
4,1993,Domestic,"395,253","384,860","447,045","445,995","475,682","518,331","549,306","606,560","525,117","478,619","397,811","471,584","5,696,163"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,2021,Asia Pacific,"31,447","20,518","17,208","19,946","19,079","22,174","27,184","46,053","45,989","52,165",NaN,NaN,"301,763"
197,2021,Europe,"10,230","4,463","3,512","4,365","7,627","13,431","28,300","46,090","61,748","61,059",NaN,NaN,"240,825"
198,2021,Misc. Int'l,"4,199","1,420",0,0,"1,496","3,857","6,446","10,621","13,027","22,279",NaN,NaN,"63,345"
199,2021,Sub-Total Int'l,"45,876","26,401","20,720","24,311","28,202","39,462","61,930","102,764","120,764","135,503",NaN,NaN,"605,933"
200,2021,Total,"251,676","177,806","202,133","189,686","200,491","317,293","693,774","1,051,652","948,217","959,115",NaN,NaN,"4,991,843"

In [4]:
yvrpassengerslong=pd.melt(yvrpassengers, id_vars=['Year', 'Type'], value_vars=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

In [5]:
yvrpassengerslong

      Year             Type  variable    value
0     1992         Domestic   January  398,321
1     1992      Transborder   January  170,320
2     1992    International   January  138,344
3     1992            Total   January  706,985
4     1993         Domestic   January  395,253
...    ...              ...       ...      ...
2407  2021     Asia Pacific  December      NaN
2408  2021           Europe  December      NaN
2409  2021      Misc. Int'l  December      NaN
2410  2021  Sub-Total Int'l  December      NaN
2411  2021            Total  December      NaN

[2412 rows x 4 columns]

In [6]:
yvrpassengerslongtotal = yvrpassengerslong.loc[yvrpassengerslong['Type'] == 'Total']

In [7]:
yvrpassengerslongtotal

      Year   Type  variable      value
3     1992  Total   January    706,985
7     1993  Total   January    740,294
11    1994  Total   January    765,070
18    1995  Total   January    799,520
25    1996  Total   January    974,490
...    ...    ...       ...        ...
2383  2017  Total  December  2,007,482
2390  2018  Total  December  2,064,001
2397  2019  Total  December  2,155,151
2404  2020  Total  December    293,525
2411  2021  Total  December        NaN

[360 rows x 4 columns]

In [8]:
yvrpassengerslongtotal=yvrpassengerslongtotal.drop(['Type'], axis=1)

In [9]:
yvrpassengerslongtotal=yvrpassengerslongtotal.rename(columns={"variable": "Month"})

In [10]:
yvrpassengerslongtotal["year_month"]=yvrpassengerslongtotal.Year.astype(str)+'-'+yvrpassengerslongtotal.Month

In [11]:
yvrpassengerslongtotal.head()

    Year    Month    value    year_month
3   1992  January  706,985  1992-January
7   1993  January  740,294  1993-January
11  1994  January  765,070  1994-January
18  1995  January  799,520  1995-January
25  1996  January  974,490  1996-January

In [12]:
yvrpassengerslongtotal["year_month"]=pd.to_datetime(yvrpassengerslongtotal["year_month"],errors='coerce')

In [53]:
yvrpassengerslongtotal.head()

    Year    Month    value year_month
3   1992  January  706,985 1992-01-01
7   1993  January  740,294 1993-01-01
11  1994  January  765,070 1994-01-01
18  1995  January  799,520 1995-01-01
25  1996  January  974,490 1996-01-01

In [54]:
yvrpassengerslongtotal=yvrpassengerslongtotal.sort_values(by='year_month')

In [55]:
yvrpassengerslongtotal.head()

     Year     Month    value year_month
3    1992   January  706,985 1992-01-01
204  1992  February  679,244 1992-02-01
405  1992     March  788,125 1992-03-01
606  1992     April  774,273 1992-04-01
807  1992       May  848,167 1992-05-01

In [56]:
yvrpassengerslongtotal

      Year      Month      value year_month
3     1992    January    706,985 1992-01-01
204   1992   February    679,244 1992-02-01
405   1992      March    788,125 1992-03-01
606   1992      April    774,273 1992-04-01
807   1992        May    848,167 1992-05-01
...    ...        ...        ...        ...
1607  2021     August  1,051,652 2021-08-01
1808  2021  September    948,217 2021-09-01
2009  2021    October    959,115 2021-10-01
2210  2021   November        NaN 2021-11-01
2411  2021   December        NaN 2021-12-01

[360 rows x 4 columns]

In [57]:
yvrpassengerslongtotal.dropna()

      Year      Month      value year_month
3     1992    January    706,985 1992-01-01
204   1992   February    679,244 1992-02-01
405   1992      March    788,125 1992-03-01
606   1992      April    774,273 1992-04-01
807   1992        May    848,167 1992-05-01
...    ...        ...        ...        ...
1205  2021       June    317,293 2021-06-01
1406  2021       July    693,774 2021-07-01
1607  2021     August  1,051,652 2021-08-01
1808  2021  September    948,217 2021-09-01
2009  2021    October    959,115 2021-10-01

[358 rows x 4 columns]

In [58]:
fig = px.line(yvrpassengerslongtotal, x = "year_month", y="value")
fig.show()